@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Kantumruy+Pro:wght@100;400;700&display=swap');

body {
    font-family: 'Kantumruy Pro', sans-serif;
}

/* ចលនា Smooth */
.transition {
    transition: all 0.3s ease;
}

/* រចនាប័ទ្ម Input */
input::placeholder {
    color: #9ca3af;
    font-size: 0.8rem;
}

/* កែសម្រួល Scrollbar ឱ្យស្អាត */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 10px;
}
